:root {
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	--safety-orange-blaze-orange: hsla(26, 100%, 50%, 1);
	--safety-orange: hsla(28, 100%, 50%, 1);
	--orange: hsla(31, 100%, 50%, 1);
	--yellow-orange-color-wheel: hsla(34, 100%, 50%, 1);
	--orange-peel: hsla(37, 100%, 50%, 1);
	--orange-background: hsl(34, 100%, 70%);
	--russian-violet: hsla(271, 100%, 14%, 1);
	--persian-indigo: hsla(271, 85%, 23%, 1);
	--purple: hsla(270, 73%, 35%, 1);
	--french-violet: hsla(272, 63%, 46%, 1);
	--amethyst: hsla(273, 68%, 59%, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2.6rem;
}

h2 {
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
p {
	color: var(--russian-violet);
}